*{
    font-family: "Roboto", sans-serif;
}
.formulario{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    width: 350px;
    padding: 10px;
   
}
.titulo{
    text-align: center;
}
.choose{
    display: flex;
    justify-content: space-around;

}
button{
    width: 90px;
}
a{
    text-decoration: none;
}